article {
	float: left;
	width: 160px;
	margin: 0 24px 25px 0;
}
article img {
	width: 139px;
	background: #FFF;
	overflow: hidden;
}

article h1 {
	margin: 10px 0 10px;
	line-height: 1.3em;
}
article p {
	font-size: .875em;
	line-height: 1.45em;
}
