html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $white;
	width: 896px;
	height: 100%;
	min-height: 100%;
	margin: 0 auto;
	padding: 50px 48px 0;
	line-height: 1;
	color: $black;
	font-family: Georgia, sans-serif;
}

img {
  max-width: 100%;
}
