section {
	position: relative;
	width: 896px;
}
section img {
	position: absolute;
	left: -92px;
	width: 100%;
}

section h1, section h2 {
	position: absolute;
	left: 0;
	font-style: italic;
}
section.alt h1, section.alt h2 {
	left: auto;
	right: 184px;
}
section h1 {
	top: 285px;
	padding: 10px 24px 15px;
	color: #222;
	background: #FFF;
	font-size: 1.5em;
}
section h2 {
	top: 334px;
	padding: 8px 24px 12px;
	color: #E9E9E9;
	font-weight: normal;
	font-size: 1em;
	background: #111;
}
